<a href="https://colab.research.google.com/github/M-Jak/Finki/blob/main/Voved%20vo%20nauka%20na%20podatoci/Lab%201/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<font color = 'Orange'>Scraping page</font>
You need to scrape the phones with their price from: https://mobelix.com.mk/mk/mobilni-telefoni

The informations you need to extract are:


*   Phone brand: html tag (\<h5 class="mb-0">\)
*   Phone type: html tag (\<h3 class="h5 font-weight-normal">\)
*   Phone pruce: html tag (\<p class="h5 price">\)

# <font color='Orange'>Requirements specified for Web Scraping</font> (0.1 POINTS)

Import all libraries and modules that you are going to use.

In [4]:
#start here
#shift+enter in this box will run the code that's here and open a new code-box below
#import ....
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from IPython.display import HTML

# <font color = 'Orange'> Start the scraping by sending HTTP request</font> (0.3 POINTS)

 **Fetch a website's content - send request**

In [28]:
url = 'https://mobelix.com.mk/mk/mobilni-telefoni'
response = requests.get(url)

**Get the response-status code and see:**
<li>If the code starts with a 2, it means the request was successful.

In [29]:
if str(response.status_code).startswith("2"):
  print("Status code is OK")

Status code is OK

# <font color = 'orange'>Parse the HTML with BeautifulSoup</font> (0.3 POINTS)

Beautiful Soup is a Python library for pulling data out of HTML and XML files. It works with your favorite parser to provide idiomatic ways of navigating, searching, and modifying the parse tree. It commonly saves programmers hours or days of work.

**Parse using BeautifulSoap**

In [9]:
html = BeautifulSoup(response.text,"html.parser")

**Print the HTML code that you get**

In [ ]:
#add your code
print(html)

# <font color='Orange'>Extracting data</font> (0.7 POINTS)

From the printed HTML code search for the data you need for building the dataset, by the classes that are given above in the html tags listed.

**Try to select the first element from your attributes. Find out from the html code what part do you need.**

In [12]:
html.select_one("h5.mb-0")

**Add as many codeboxes as you need for selecting all the html elements**

In [ ]:
#add your code
brands = html.find_all('h5',{'class':'mb-0'})

**Create lists with the extracted data from the html elements that you selected**

In [ ]:
#add your code
types = html.find_all('h3',{'class':'h5 font-weight-normal'})

In [20]:
prices = html.find_all('p',{'class':'h5 price'})

**Print all lists that are containing the elements**

In [21]:
print(brands)
print()
print(types)
print()
print(prices)

[<h5 class="mb-0">Blackberry</h5>, <h5 class="mb-0">Samsung</h5>, <h5 class="mb-0">Samsung</h5>, <h5 class="mb-0">Apple</h5>, <h5 class="mb-0">Apple</h5>, <h5 class="mb-0">Apple</h5>, <h5 class="mb-0">Apple</h5>, <h5 class="mb-0">Apple</h5>, <h5 class="mb-0">Apple</h5>]

[<h3 class="h5 font-weight-normal">Porsche Design P9981</h3>, <h3 class="h5 font-weight-normal">Galaxy A03s 4/64GB</h3>, <h3 class="h5 font-weight-normal">Galaxy A04s 3/32GB</h3>, <h3 class="h5 font-weight-normal">iPhone 14 Pro Max 128GB E-SIM</h3>, <h3 class="h5 font-weight-normal">iPhone 14 Pro 512GB</h3>, <h3 class="h5 font-weight-normal">iPhone 14 Pro Max 512GB</h3>, <h3 class="h5 font-weight-normal">iPhone 14 Pro Max 1TB</h3>, <h3 class="h5 font-weight-normal">iPhone 14 Pro 128GB E-SIM</h3>, <h3 class="h5 font-weight-normal">iPhone 13 Mini 256GB</h3>]

[<p class="h5 price">19,000.00 ден</p>, <p class="h5 price"><del class="mr-2 small">9,200.00</del><br/>8,300.00 ден</p>, <p class="h5 price"><del class="mr-2 small">10,500.00</del><br/>8,300.00 ден</p>, <p class="h5 price"><del class="mr-2 small">67,600.00</del><br/>61,500.00 ден</p>, <p class="h5 price"><del class="mr-2 small">94,100.00</del><br/>89,200.00 ден</p>, <p class="h5 price"><del class="mr-2 small">80,000.00</del><br/>78,100.00 ден</p>, <p class="h5 price"><del class="mr-2 small">116,900.00</del><br/>98,400.00 ден</p>, <p class="h5 price"><del class="mr-2 small">58,500.00</del><br/>55,300.00 ден</p>, <p class="h5 price"><del class="mr-2 small">47,990.00</del><br/>46,800.00 ден</p>]

**Check if all lists are the same size**

In [23]:
if len(brands) == len(types) == len(prices):
  print("All lists are the same size")
else:
  print("All lists are not the same size")

All lists are the same size

# <font color='Orange'>Create a Pandas DataFrame</font> (0.1 POINTS)

**Create the DataFrame from the lists you get and name your *Columns***

In [54]:
items = []
for i in range(len(brands)):
  item = {}
  item['Brand'] = brands[i].text
  item['Type'] = types[i].text
  item['Price'] = prices[i].text
  print(prices[i])
  items.append(item)

df = pd.DataFrame(items)

<p class="h5 price">19,000.00 ден</p>
<p class="h5 price"><del class="mr-2 small">9,200.00</del><br/>8,300.00 ден</p>
<p class="h5 price"><del class="mr-2 small">10,500.00</del><br/>8,300.00 ден</p>
<p class="h5 price"><del class="mr-2 small">67,600.00</del><br/>61,500.00 ден</p>
<p class="h5 price"><del class="mr-2 small">94,100.00</del><br/>89,200.00 ден</p>
<p class="h5 price"><del class="mr-2 small">80,000.00</del><br/>78,100.00 ден</p>
<p class="h5 price"><del class="mr-2 small">116,900.00</del><br/>98,400.00 ден</p>
<p class="h5 price"><del class="mr-2 small">58,500.00</del><br/>55,300.00 ден</p>
<p class="h5 price"><del class="mr-2 small">47,990.00</del><br/>46,800.00 ден</p>
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/VNP labs/Lab 1/results/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Print the dataset you obtain**

In [52]:
print(df)
filename = path + url.split('/')[2].split('.')[0] + "_" + url.split('/')[4] + '.csv'
df.to_csv(filename)

        Brand                           Type  \
0  Blackberry           Porsche Design P9981
1     Samsung             Galaxy A03s 4/64GB
2     Samsung             Galaxy A04s 3/32GB
3       Apple  iPhone 14 Pro Max 128GB E-SIM
4       Apple            iPhone 14 Pro 512GB
5       Apple        iPhone 14 Pro Max 512GB
6       Apple          iPhone 14 Pro Max 1TB
7       Apple      iPhone 14 Pro 128GB E-SIM
8       Apple           iPhone 13 Mini 256GB

                               Price
0                    [19,000.00 ден]
1     [[9,200.00], [], 8,300.00 ден]
2    [[10,500.00], [], 8,300.00 ден]
3   [[67,600.00], [], 61,500.00 ден]
4   [[94,100.00], [], 89,200.00 ден]
5   [[80,000.00], [], 78,100.00 ден]
6  [[116,900.00], [], 98,400.00 ден]
7   [[58,500.00], [], 55,300.00 ден]
8   [[47,990.00], [], 46,800.00 ден]

#<font color='orange'>EDA</font> (0.2 POINTS)

## <font color='Orange'>Find statistic elements for the prices</font>
Like mean, median,  standard deviation, minimum, maximum

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brand   9 non-null      object
 1   Type    9 non-null      object
 2   Price   9 non-null      object
dtypes: object(3)
memory usage: 344.0+ bytes

# <font color = 'Orange'>Data visualization </font> (0.3 POINTS)

Make a histogram & bar chart for the price values

In [ ]:
#add your code